@import "/src/styles/variables";

.flex{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
  p{
    word-break: break-all;
    max-width: 500px;
  }
}

.cardOptions{
  align-items: center;
  display: flex;
}

.mt15{
  margin-right: 15px;
}

.redactInput{
  background: #46464c;
  width: 100%;
  margin-top: 20px;
}
