:root{
  --primary-color-main:#4EA8DE;

  --primary-bgc: #1A1A1A;
  --secondary-bgc: #0D0D0D;

  --input-clr: #262626;

  --extra-color-text: #8284FA;
  --primary-text: #F2F2F2;

  --btn-clr: #1E6F9F;

  --counter-clr: #333333;
  --counter-text: #D9D9D9;
  --counter-info: #4EA8DE;

  --empty-text: #808080;

  --line-clr: #808080;

  --card-clr: #262626;
  --card-text-clr:#F2F2F2;

  --checkBox-clr: #6fb9e5;
}
