@import "../../styles/variables";
@import "../../styles/defaults";
.main{
  background: var(--primary-bgc);
  min-height: 100%;
  justify-content: center;
}

.form{
  margin-top: -25px;
}

.headTodo{
  margin-top: 65px;
  margin-bottom: 40px;
}

.line{
  margin-bottom: 60px;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}