@import "../../../../styles/variables";
.root {
  text-align: center;
  justify-content: center;
  color: var(--empty-text);
  p{
    margin-top: 16px;
    font-weight: 900;
    span{
      font-weight: 300;
    }
  }

}

.lineMr{
  margin-top: 60px;
}

.line{
  padding-top: 25px;
  border-top: 1px solid var(--line-clr);
  border-radius: 20px
}